@import "tailwindcss";



.main-box{
    box-shadow:5px 5px 10px #111111 ;
}

.shadow-arrow{
    box-shadow:0 0 16px rgba(14, 14, 14, 0.5)  ;
}
.image-transition:hover{
    scale: 120%;
    rotate: -2deg;
    transition: all 0.3s ease-in-out;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5)  ;
    z-index: 10;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.setTransition {
  position: relative;
  overflow: hidden; /* keeps the expanding bg inside the div */
  z-index: 0;
}

.setTransition::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #1e1e1e, #201f21); /* purple-blue gradient */
  transition: width 0.4s ease-in-out;
  z-index: -1; /* keeps it behind text */
  border-radius: 12px;
}

.setTransition:hover::before {
  width: 100%;
}



